body {
  background-color: rgb(193, 193, 231);
  justify-content: center;
  text-align: center;
}

.form-group {
  padding: 10px;
}

p {
  text-transform: capitalize;
}

h2 {
  text-decoration: underline;
}
